<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#db0000" />
  <meta name="description"
    content="RS_food. adalah sebuah aplikasi web yang dapat anda gunakan untuk menemukan restorants dengan pilihan terbaik untuk nongkrong.">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="manifest.json">
  <link rel="icon" href="favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous">
  <title>Catalog-Resto-PWA</title>
</head>

<body>
  <a href="#mainContent" class="skip-link">Go to content</a>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      <h1>RS_fooD.</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a class="app-bar__link" href="#/home">Home</a></li>
        <li><a class="app-bar__link" href="#/favorite">Favorite</a></li>
        <li><a class="app-bar__link" href="https://github.com/raissaputra">About</a></li>
      </ul>
    </nav>
  </header>

  <div id="hero" class="hero" role="img" aria-label="banner section">
    <div class="hero__inner">
      <h1 class="hero__title">Select your favorite restaurant here</h1>
      <p class="hero__tagline">
        Pilihan restaurant terbaik di Indonesia
      </p>
    </div>
  </div>

  <main id="mainContent"></main>

  <footer>
    <p class="footer__text">&copy; 2021 - RS_fooD. All rights reserved. Developed by Rais Saputra.</p>
  </footer>
</body>

</html>